{% include('/partials/header.twig') %}

<script type="text/javascript" src="{{ app.request.basepath }}/js/album.js"></script>

<div id="album-wrapper">
   <ol id="slides" start="1">
      <li class="slide color-0 alive" style="background-image:url({{ app.request.basepath }}/image/album/2.1.jpg);"></li>
      <li class="slide color-1" style="background-image:url({{ app.request.basepath }}/image/album/2.2.jpg);"></li>
      <li class="slide color-2" style="background-image:url({{ app.request.basepath }}/image/album/2.3.jpg);"></li>
      <li class="slide color-3" style="background-image:url({{ app.request.basepath }}/image/album/2.4.jpg);"></li>
      <li class="slide color-4" style="background-image:url({{ app.request.basepath }}/image/album/2.5.jpg);"></li>
   </ol>
   <div class="close">
      <a class="nav fa fa-times fa-2x" id="close" aria-hidden="true" href="{{ url ('map')}}"></a>
   </div>
   <div class="left-side">
      <span class="nav fa fa-chevron-left fa-3x" id="left"></span>
   </div>
   <div class="right-side">
      <span class="nav fa fa-chevron-right fa-3x" id="right"></span>
   </div>
   <div id="count-wrapper"><span id="count">1</span>/5</div>
</div>
{% include('/partials/footer.twig') %}